html,
body {
  background: #212121 !important;
  color: rgba(255,255,255,.55) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

/*
My Additions
*/

@media screen and (min-width: 992px) {
  .MuiButtonBase-root {
    display: none !important;
  }
}

.main-container {
  padding-top: 5rem;
}

.portfolio-post-titles {
  text-align: center;
}


.MuiPaper-rounded {
 padding: 16px;
}
.portfolio-post-titles:hover {
  color: var(--bs-primary) !important;
}

.portfolio-footer {
  height: 100%;
  margin-top: 6em;
}

.entries .main-image img {
  width: 100%;
  display: block;
}

.rae-nav-bar {
  background-color: #000000;
}

.footer-title {
  text-decoration: underline;
  font-size: 2em;
  text-align: center;
  margin-right: auto;
}

.footer-link {
  text-align: center;
  color: rgba(255,255,255,.55) !important;
}

.footer-content {
  color: rgba(255,255,255,.55) !important;
}

.footer-link:hover {
  color: #bfbfbf !important;
}